<div class="container">
<div class="row">
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  <h2>Editing Book</h2>

 <% if @user.errors.any? %>
  <%= @user.errors.count %>error
  <ul>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>

  </ul>
  <% end %>
  <%= form_with model: @book do |f| %>
  <div class="form-group">
  <label for="title">Title</label><br>
  <%= f.text_field :title, autofocus: true, id:"inputName"%><br>
  </div>
  <div class="form-group">
  <label for="body">Opinion</label><br>
  <%= f.text_area :opinion, autofocus: true, id:"inputIntroduction"%><br>
  </div>
  <div class="form-group">
  <%= f.submit "Update User" %><br>
  </div>
  <%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %>
  <% end %>
</div>
</div>
</div>
