<% @books.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>
<h2>New book</h2>
<%= form_with model:@book do |f| %>

  <div class="field">
  <%= f.label :title%><br>
  <%= f.text_field :title%>
  </div>
  <div class="field">
  <%= f.label :body%><br>
  <%= f.text_area :body%><br>
  <%= f.submit'Create Book' %>
  </div>
<% end %>
